.map.section
  ._wrap.wrap
    #map
      form(action="#" method="POST").requisition__form.-map 
        .requisition__title.-map Оставить заявку
        input(type="text" placeholder="Введите Ваше имя").requisition__input
        input(type="text" placeholder="Введите Ваш номер телефона").requisition__input
        button(type='submit').btn.-big.-requisition Оставить заявку
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A036b70b978e9903639ce41db562ebcd738daa46eeaaef863823cb6469f6505ee&amp;width=100%25&amp;height=577&amp;lang=ru_RU&amp;scroll=false"></script>