#map {
  width: 100%;

  iframe {
    vertical-align: bottom;
  }
}

.map {
  $root: &;
  width: 100%;
  position: relative;

  &:hover {
    &:after {
      opacity: 0;
      z-index: -1;
    }

    .map__wrap {
      .requisition__form_map {
        background-color: rgba(#000000, .6);
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(#000, .6);
    z-index: 5;
    transition: $t-time;
  }

  &__wrap {
    width: 100%;
  }
}