.about-company.section
  ._wrap.wrap
   h2.section-title О компании
   ._content
    ._descr 
      ._descr-list
        p._descr-text Транспортная компания 
          b «ПРОМЕТЕЙ» 
          | выполняет качественные грузоперевозки по 
          b Москве и Московской области. 
          | Мы перевозим все виды грузов, делая максимальный акцент на доставке продуктов питания. 

        p._descr-text Приоритет нашей компании – высокий уровень организации процесса транспортировки груза. Компания 
          b «Прометей» 
          | работает на рынке грузоперевозок с 2008 года, обслуживая  крупные производства по всей России. 

        p._descr-text Многолетний опыт и высокое качество работы вызывает доверие многих крупных компаний. Нашими постоянными клиентами являются 
          b МК «Микоян», ООО «Мираторг», ООО «Айсбери» 
          | и  др. известные продуктовые бренды. 

        p._descr-text Мы внимательны к нашим клиентам и, учитывая специфику заказа, предоставляем индивидуальное обслуживание. Опытные логисты подберут оптимальный маршрут и предложат самый удобный вид транспорта, экономя ваше время. 

        p._descr-text Проводя регулярный мониторинг рынка, мы следим за ценовой политикой в сфере транспортных услуг, предлагая выгодные тарифы и скидки постоянным клиентам. 

        p._descr-text Мы гарантируем сохранность всех перевозимых грузов, документально закрепляя ответственность страховкой
      ._arrow
        +svg('arrow', 'about-company-svg')
    ._img
      img(src="img/about-company-bg.png", alt="alt")
