// Fonts
$base-font: 'Proxima Nova',
sans-serif;
$base-font-size: 16px;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;

$red-color: #e10503;
$title-color: #000000;
$text-color: #5b5b5b;

$t-time: .4s;
$box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);