@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input {
  outline: none;
  font-family: $base-font;
}

button {
  font-family: $base-font;
  outline: none;
  transition: $t-time;

  &:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;

  @media (max-width: 1199px) {
    width: 970px;
  }

  @media (max-width: 992px) {
    width: 767px;
  }

  @media (max-width: 768px) {
    width: 95%;
  }
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 42px;
  border-radius: 3px;
  background-color: $red-color;
  font-size: 15px;
  color: #fff;
  border: none;

  &_big {
    width: 183px;
    height: 50px;
  }

  &:hover {
    background: darken($red-color, 3%);
  }
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  width: 100%;

  @media(max-width: 320px) {
    font-size: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 98px;
    height: 4px;
    background-color: #e10503;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);

    @media(max-width: 540px) {
      bottom: -10px;
    }
  }
}

@import "icons";
//page index
@import "../elements/index/header/header";
@import "../elements/index/banner/banner";
@import "../elements/index/about-company/about-company";
@import "../elements/index/advantages/advantages";
@import "../elements/index/requisition/requisition";
@import "../elements/index/feedback/feedback";