.feedback {
  $root: &;
  padding: 100px 0;

  @media(max-width: 540px) {
    padding: 45px 0;
  }

  &__wrap {
    position: relative;
  }

  [data-slider="feedback"] {
    width: 100%;
    max-width: 415px;
    margin: 90px auto 0 auto;
    position: relative;

    @media(max-width: 540px) {
      margin: 35px auto 0 auto;
    }
  }

  [data-slider="feedback-text"] {
    width: 100%;
    max-width: 1150px;
  }

  .swiper-slide {
    opacity: 0.5;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }

    &__title {
      display: flex;
      max-width: 230px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 25px auto 0 auto;
    }

    &__title-text {
      font-size: 22px;
      font-weight: 700;
    }

    &__feedback-content {
      max-width: 1151px;
      color: #5b5b5b;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin: 30px 0 0 0;

      @media(max-width: 540px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .feedback-button-next,
  .feedback-button-prev {
    position: absolute;
    top: 175px;
    z-index: 1000;
    outline: none;

    @media(max-width: 540px) {
      top: 120px;
    }
  }

  .feedback-button-prev {
    left: 29%;

    @media(max-width: 1200px) {
      left: 26%;
    }

    @media(max-width: 992px) {
      left: 20%;
    }

    @media(max-width: 768px) {
      left: 10%;
    }
  }

  .feedback-button-next {
    right: 29%;

    @media(max-width: 1200px) {
      right: 26%;
    }

    @media(max-width: 992px) {
      right: 20%;
    }

    @media(max-width: 768px) {
      right: 10%;
    }
  }
}