.banner.section
  ._wrap.wrap
    ._swiper-container.swiper-container(data-slider="banner")
      ._swiper-wrapper.swiper-wrapper
        ._swiper-slide.swiper-slide
          ._descr
            ._descr-title Перевезем грузы 
              b любой сложности от 200 км от 100 кг:
            ._descr-subtitle
              p._text Перевозим весь ассортимент товаров и предоставляем все услуги но ориентированы под продукты питания
              p._text Свой автопарк 
                b Hyundai Porter, Газели, Авторефрижераторы 
                | 20 тонн, 
                b Еврофуры 
                | 20 тонн (есть рефрижераторы изотермы) 
            button.btn.-big.-big-banner(type='submit') Узнать подробнее
          ._services
            ._services-item
              ._services-item-content
                | Транспортные 
                br/
                | услуги 
                +icon('transportation', 'services-svg transportation-svg')
            ._services-item
              ._services-item-content
                | Аутсорсинг
                +icon('outsourcing', 'services-svg outsourcing-svg')
            ._services-item
              ._services-item-content
                | Складские 
                br/
                | услуги
                +icon('warehouse-services', 'services-svg warehouse-services-svg')
            ._services-item
              ._services-item-content
                | Работа 
                br/
                | с регионами 
                +icon('part', 'services-svg part-svg')

        ._swiper-slide.swiper-slide
          ._descr
            ._descr-title Перевезем грузы 
              b любой сложности от 200 км от 100 кг:
            ._descr-subtitle
              p._text Перевозим весь ассортимент товаров и предоставляем все услуги но ориентированы под продукты питания
              p._text Свой автопарк 
                b Hyundai Porter, Газели, Авторефрижераторы 
                | 20 тонн, 
                b Еврофуры 
                | 20 тонн (есть рефрижераторы изотермы) 
            button.btn.-big.-big-banner(type='submit') Узнать подробнее
          ._services
            ._services-item
              ._services-item-content
                | Транспортные 
                br/
                | услуги 
                +icon('transportation', 'services-svg transportation-svg')
            ._services-item
              ._services-item-content
                | Аутсорсинг
                +icon('outsourcing', 'services-svg outsourcing-svg')
            ._services-item
              ._services-item-content
                | Складские 
                br/
                | услуги
                +icon('warehouse-services', 'services-svg warehouse-services-svg')
            ._services-item
              ._services-item-content
                | Работа 
                br/
                | с регионами 
                +icon('part', 'services-svg part-svg')
  .banner-button-prev
    +svg('left-arrow')
  .banner-button-next
    +svg('right-arrow')
