.header.section
  ._wrap.wrap
    a(href="#")
      +icon("logo")
    ._main
      nav._nav.menu-nav
        a(href="#", title="Главная")._nav-item Главная
        ._drop-down
          a(href="#", title="Услуги")._nav-item.-drop Услуги 
          ._drop-down-list
            a(href="#", title="Транспортные услуги")._nav-item Транспортные услуги 
            a(href="#", title="Аутсорсинг")._nav-item Аутсорсинг
            a(href="#", title="Складские услуги")._nav-item Складские услуги 
            a(href="#", title="Работа с регионами")._nav-item Работа с регионами 
        a(href="#", title="Сотрудничество")._nav-item Сотрудничество
        a(href="#", title="Контакты")._nav-item Контакты
      .menu-bloc
        a(href="#", title="title").menu-btn
          span
    ._feedback
      a(href="tel:+88652233523", title="phone")._icon-phone
        +svg('phone')
      a(href="tel:+88652233523", title="phone")._link-phone 
        | 8 (865) 
        b._num-bold 223-35-23 
      button(type='submit')._btn.btn Заказать звонок