.advantages {
  $root: &;
  padding: 100px 0 25px 0;
  background: #fff;

  @media(max-width: 540px) {
    padding: 46px 0 25px 0;
  }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  margin: auto;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: $box-shadow;
    margin: 5px 0 0 0;

    @media(max-width: 320px) {
      box-shadow: 0px 0px 6px 0px rgba(red, 0.15);
    }
  }

  &__title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    text-align: center;

    @media(max-width: 992px) {
      font-size: 18px;
      margin: 30px 0 0 0;
    }

    @media(max-width: 320px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 75px 0;
    text-align: center;
    max-width: 270px;

    @media(max-width: 992px) {
      font-size: 15px;
      margin: 10px 0 30px 0;
    }

    @media(max-width: 320px) {
      margin: 10px 0 10px 0;
    }
  }

}

.doted {
  position: absolute;
  width: 1033px;
  height: 380px;
  border: 2px dashed red;
  border-left: none;
  border-radius: 0 200px 200px 0;
  top: 70px;
  left: 128px;

  @media(max-width: 1200px) {
    display: none;
  }
}


.arrow-right-advantages,
.arrow-left-advantages {
  position: absolute;
  top: 70px;
  z-index: 5;
  display: none;

  @media(max-width: 540px) {
    display: block;
  }
}

.arrow-right-advantages {
  transform: rotate(180deg);
  right: 0;
}

.arrow-left-advantages {
  left: 0;
}

[data-slider="advantages"] {
  width: 100%;
  margin: 75px 0 0 0;
  position: relative;

  @media(max-width: 320px) {
    margin: 40px 0 0 0;
  }
}

.swiper-pagination-bullet {
  display: none;
  width: 15px;
  height: 15px;
  background-color: darken(#e9e7e7, 10%);
  outline: none;

  @media(max-width: 540px) {
    display: inline-block;
  }
}

.swiper-pagination-bullet-active {
  background-color: red;
}