.requisition.section
  ._wrap.wrap
    ._map
      img(src="img/map.png", alt="alt")
    form(action="#" method="POST")._form
      ._title Оставить заявку
      input(type="text" placeholder="Введите Ваше имя")._input
      input(type="text" placeholder="Введите Ваш номер телефона")._input
      button(type='submit').btn.-big.-requisition Оставить заявку