.requisition.section
  ._wrap.wrap
    ._map
      img(src="img/map.png", alt="alt")
    form(action="#" method="POST").requisition__form 
      .requisition__title Оставить заявку
      input(type="text" placeholder="Введите Ваше имя").requisition__input
      input(type="text" placeholder="Введите Ваш номер телефона").requisition__input
      button(type='submit').btn.-big.-requisition Оставить заявку